@model Mvc.Data.Entity.User

@{
    ViewBag.Title = "Login";
}
<link href="~/Content/singin.css" rel="stylesheet"/>
<h2>Login</h2>

<div class="container">
    @Html.ValidationSummary()
    @ViewBag.Message
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class="form-signin"}))
    {
        <h2 class="form-signin-heading">Please sign in</h2>

        @Html.LabelFor(model => model.UserName, new { @class = "sr-only" })
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @id="userName"})
        @Html.LabelFor(user => user.Password, new { @class="sr-only"})
        @Html.PasswordFor(user => user.Password, new  { @class="form-control", @required="required", @id="password"})

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    }

</div> <!-- /container -->

